@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--Light-gray);
}


.layout {
    height: auto;
    width: 325px;
    background-color: var(--White);
    padding: 15px;
    border-radius: 12px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

img {
    height: fit-content;
    width: auto;
    height: 322px;
    border-radius: 12px;
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    color: var(--Dark-blue);
}

.scan {
    font-size: 16px;
    color: var(--Grayish-blue);
}